html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url("../Photo/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e3e2d5;

  /* Очень важно для полноэкранности на современных Android */
  min-height: 100dvh; /* dynamic viewport height */
}
